<%- include("partials/header") %>        
        <link rel="stylesheet" href="/stylesheets/about.css">
    </head>
    <body>
        <div class="bg">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <a class="navbar-brand pl-3" href="/"><i class="fas fa-paw fa-2x"></i> DogBlog</a>
                <button class="navbar-toggler custom-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="nav navbar-nav navbar-right pr-5 pt-2" >
                        <li class="nav-item pr-5 pl-5">
                            <a class="nav-link text-white"  href="/dogs">Blog <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pr-5 pl-5">
                            <a class="nav-link text-body" style="font-weight: 800;" href="/about">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item pr-5 pl-5">
                            <a class="nav-link text-white" href="/contact">Contact Us <span class="sr-only">(current)</span></a>
                        </li>
                        <% if(!currentUser){ %>
                            <li class="nav-item pr-5 pl-5">
                                <a class="nav-link text-white" href="/register">Sign Up <span class="sr-only">(current)</span></a>
                            </li>
                        <% } else{ %>
                            <li class="nav-item dropdown pr-4 pl-5">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Profile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/users/<%= currentUser._id %>">View</a>
                                    <a class="dropdown-item" href="/logout">Sign Out</a>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
            <div class="row no-gutter">
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="card mt-auto mb-auto m-5 pt-5 pb-5 rounded-0" style=" background-color: #e3bcb1; border: 0 ;">
                        <div class="card-body">
                            <h5 class="card-title text-white">Welcome to DogBlog.</h5>
                            <p class="card-text text-white" style="font-weight: 600;">A happy space and platform for all our doggy freinds to share, express and communicate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style=" visibility:hidden">
                    <span class="border border-primary"></span>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row no-gutter" style="background-color: #f0c0e8;">
                <div class="col-lg-3 d-flex justify-content-center">
                    <div class="card mt-auto mb-auto m-5" style="padding: 150px; background-color: #f0c0e8; border: 5px solid #f0c0e8; ">
                        <div class="card-body">
                            <h5 class="card-title inner rotate" style="font-size: 60px; font-weight: 700;">About Us</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="card  border-white rounded-0">
                        <div class="card-body pt-5 pb-5">
                            <p class="card-text">In 2021, the idea of giving a voice to our lovely doggies arrived to us. This page is created with a huge love and found for our beloved pets. The idea is to make this page more about dogs with stuff like their accounts and their usernames and the things they like or some dog nutrition food that helped them and can be shared with other dogs in a blog post. Dogs have feelings and we respect them and want this platform to be about them. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center">
                    <div class="card mt-auto mb-auto m-5 rounded-0" style="padding: 150px; background-color: #f0c0e8; border: 7px solid #f0c0e8; ">
                        <div class="card-body">
                            <h5 class="card-title inner rotate" style="font-size: 60px; font-weight: 700;">About Us</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg2">
            <div class="row no-gutter">
                <div class="col-lg-6" style=" visibility:hidden">
                    <span class="border border-primary"></span>
                </div>
                <div class="col-lg-6 d-flex justify-content-center mt-5">
                    <div class="card mt-auto mb-auto m-5 pt-5 pb-5 rounded-0" style=" background-color: #9470e6; border: 0 ;">
                        <div class="card-body">
                            <p class="card-text text-white" style="font-weight: 600;">Our goal is to create a conversation between all the proud Dads and Moms of the dogs but in a unique way. We also want to help them understand what their little puppies want and need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<%- include("partials/footer") %>        
         