<%- include("partials/header") %>
        <link rel="stylesheet" href="/stylesheets/contact.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="background-color: #9470e6;">
                    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                        <a class="navbar-brand pl-3" href="/"><i class="fas fa-paw fa-2x"></i> DogBlog</a>
                        <button class="navbar-toggler custom-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto"></ul>
                            <ul class="nav navbar-nav navbar-right pr-5 pt-2" >
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-white"  href="/dogs">Blog <span class="sr-only">(current)</span></a>
            
                                </li>
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-white" href="/about">About <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item pr-5 pl-5">
                                    <a class="nav-link text-dark" href="/contact">Contact Us <span class="sr-only">(current)</span></a>
                                </li>
                                <% if(!currentUser){ %>
                                    <li class="nav-item pr-5 pl-5">
                                        <a class="nav-link text-white" href="/register">Sign Up <span class="sr-only">(current)</span></a>
                                    </li>
                                <% } else{ %>
                                    <li class="nav-item dropdown pr-4 pl-5">
                                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            My Profile
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/users/<%= currentUser._id %>">View</a>
                                            <a class="dropdown-item" href="/logout">Sign Out</a>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </nav>
                    <div class="container pt-3">
                        <% if(success && success.length > 0){ %>
                            <div class="alert alert-success" role="alert">
                                <%= success %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="row no no-gutter">
                <div class="col-lg-6 p-3" style="background-color: #9470e6;">
                    <div class="card mt-auto mb-auto border-0 p-4" style="background-color: #9470e6;">
                        <h1 class="card-title text-white mt-3">Got questions?</h1>
                        <h1 class="card-title text-white">Feel free to contact us!</h1>
                        <p class="card-text text-white" style="font-weight: 600;">Drop us a line at info@dogblog.org</p>
                        <h5 class="card-text pt-5" style="color: pink;">Contact Us</h5>
                        <form action="/contact" method="POST" class="mt-3">
                           <div class="form-group pb-3">
                                <input type="text" class="form-control form-control-lg" name="name" placeholder="Name">
                            </div>
                            <div class="form-group pb-3">
                                <input type="email" class="form-control form-control-lg" name="email" placeholder="Email">
                            </div>
                            <div class="form-group pb-3">
                                <textarea class="form-control" rows="4" name="message" placeholder="Add a message"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-light btn-outline-dark border-0 btn-lg ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="card border-0 p-0 ">
                        <img src="https://images.unsplash.com/photo-1516366434321-728a48e6b7bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="img-fluid wd-100">
                        <div class="card-img-overlay  mt-auto mb-auto border-white mt-5" style="visibility: hidden;">
                            <div class="card-body mt-5 pt-5">
                                <p class="pb-5"><i class="fas fa-paw fa-5x" style="color: white;"></i></p>
                                <h1 class="card-title text-white"><strong>Share With Others.</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<%- include("partials/footer") %> 
