body, html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    
}

a{
    font-weight: 400;
}

.card-title{
    font-weight: 600;
}
  
.bg{ 
    background: url("https://images.unsplash.com/photo-1475954704693-ac6850a71ee0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") no-repeat center;
    /* background: url("https://images.pexels.com/photos/2253275/pexels-photo-2253275.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center; */
    height: 100%;
    background-size: cover;
}

.bg1{ 
    background: url("https://images.unsplash.com/photo-1601758063890-1167f394febb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fGRvZ3N8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60") no-repeat center;
    height: 100%;
    background-size: cover;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child){
  padding-right:0;
  padding-left:0;
}

.inner{
    position: absolute;
}

.rotate {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

ul li a{
    font-weight: 700;
}
  
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.testing {margin:2em 2em;}

h1 {font-size:1.3rem;}

@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
  }

  @media (min-width: 768px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
  }

  @media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
  }

  @media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
  }

  @media (min-width: 950px) and (max-width:1100px) { 
    h1 {font-size:2.75rem;color:red;} 
  }















