body{
    margin-top: 75px;
    
}

.box {
    position: relative;
  
 }
.imp {
   position: absolute;
   top: 0;
   transform: translateY(-200px);
   left: 0;
   right: 0;
   padding: 0;
   border: 0;
   
 }

.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1501472193205-56ffb66400f0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fGRvZ3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px ;
}

.special{
    background-color: #dfe6ed;
}

.card-img-top{
    border-radius: 0px ;
}

body{
    background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
