<%- include("../partials/header") %>
        <link rel="stylesheet" href="/stylesheets/dogNew.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row no no-gutter">
                <div class="col-lg-6 p-3" style="background-color: #9470e6;">
                    <div class="card mt-auto mb-auto border-0 p-4" style="background-color: #9470e6;">
                        <h1 class="card-title text-center mt-5 text-white">Create Post</h1>
                        <form action="/dogs" method="POST" class="m-3" enctype="multipart/form-data">
                           <div class="form-group">
                                <input type="text" class="form-control form-control-lg" name="title" placeholder="Blog Title">
                            </div>
                            <div class="form-group">
                                <label for="inputImage" class="text-white" style="font-weight: 600;">Add an Image</label>
                                <input type="file" class="form-control-file" name="image" id="inputImage">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="16" name="caption" placeholder="Tell us about this post"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-lg btn-block">Post</button>
                            </div>
                        </form>
                        <p class="text-center" ><a class=" text-white" href="/dogs">Go back</a></p>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="card border-0 p-0 ">
                        <img class="card-img-top rounded-0" src="https://images.unsplash.com/photo-1519612535780-b5d7d96c36f3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDF8fGRvZ3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="img-fluid wd-100">
                        <div class="card-img-overlay  mt-auto mb-auto border-white mt-5">
                            
                            <div class="card-body mt-5 pt-5">
                                <p class="pb-5"><i class="fas fa-paw fa-5x" style="color: white;"></i></p>
                                <h1 class="card-title text-white"><strong>Share With Others.</strong></h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<%- include("../partials/footer") %>
